
.form-elem {
  margin: 3px;
}

.form-group button{
  margin-right: 10px;
}

td {
  height: 60px;
  vertical-align: bottom;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-size: 14px;
  /* transform: scale(0.9);
  transform-origin: 0 0; */
}

.btn {
  font-size: 14px;
}